@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
*
{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;
}
.Essay {
    
    text-align:center;
    transform: translateY(150px);
    height: auto; 
    font-family:Arial, Helvetica, sans-serif;
    line-height:3;
    color:#FFF;
    font-size: 20px;
}
b.Essay {
    font-size: 30px; 
    
}
i.References {
    font-family:Arial, Helvetica, sans-serif;
    line-height:3;
    color:#FFF;
    text-align: left;
    padding-left: 0;
}

p.References{
    padding-left:10vh; 
    text-indent:-36px;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    line-height:3;
    color:#FFF;
    font-size: 20px;
}
h2.References {
    
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px; 
}
.References { 
    text-align:left;  
    font-family:Arial, Helvetica, sans-serif;
    line-height:3;
    color:#FFF;
    font-size: 20px;
}
p.Essay {
    text-align:left;
    padding-left: 40vh;
    padding-right: 40vh;
    text-indent: 50px;
    font-family:Arial, Helvetica, sans-serif;
    line-height:3;
    color:#FFF;
    font-size: 20px;

}

body {
    background: #1c0522;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;    
}
header .title {
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    Letter-sapcing: 2px;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header ul li {
    list-style: none;
    margin-Left: 20px;
}
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #FFF;
    border-radius: 20px;
    cursor: pointer;
}
header ul li a:hover , header ul li a.active {
    background:#FFF;
    color: #9EC2ff;
}
.testing {
    position:absolute;
    z-index: 100000;
    background: transparent;
    opacity: 1;
    display: flex;
}
#testing {
    object-fit: fill;
    position: static;
    width: 100%;
    display:flex;
    top: 0;
}
#testing:hover {
    opacity: 0.7;
    z-index: 99;
}
section {
    position: relative;
    width: 100%;
    height: 100vh;
    diplay: flex;
    justify-content: center;
    align-items: center;
}
section button {
    display:flex;
    color: #ee6fb8;
    position: relative;
    top: 50%; 
    width: 100%;
    z-index: 1001;
    justify-content: center;
    text-align: center;
    background: transparent;
    border-radius: 150px;
    font-size: 3.5em;
    font-weight: bold;
    cursor: pointer;
}
section button:hover {
   background:transparent;
   color: #932963;
}
section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background:linear-gradient(to top, #1c0522, transparent);
    z-index: 100;
    
}
.nextPage h2 {
    font-size:3.5em;
    color: #bffff1;
}

.nextPage p {
    font-size:15px;
    color:#ffbfcd;
    word-wrap: break-word;
}
section img {
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    point-event: none;
}
section img#mainPage {
    z-index: 1;
}
.nextPage {
    background: #1c0522;
    position:relative;
    padding: 100px;   
    width: 100%;
    height: 100vh;

}
#endings {
    max-width: 100%;
    max-height: auto;
    transform: translateY(-10px);
    z-index: 100;
    background: transparent;
    
}
.flex-container {
    display: flex;
    background: transparent;
    z-index: 100;
    color: #bffff1;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-containerCD {
    display: flex;
    background: transparent;
    z-index: 100;
    color: #bffff1;
    flex-wrap: wrap;

    
}

.flex-containerCD > div {
    background: transparent;
    transform: translateY(200px);
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    
}

.childCD {
    color: #bffff1;
    cursor: pointer;
    justify-content: left;
    
}
.break {
    flex-basis: 100%;
    height: 50;
}

.flex-container > div {
    background: transparent;
    margin: 2px;
    padding: 70px;
    font-size: 25px;
    
}

.flex-containerI {
    display: flex;
    background: transparent;
    z-index: 100;
    color: #bffff1;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-containerI > div {
    background: transparent;
    margin: 2px;
    padding: 70px;
    font-size: 25px;
    
}
#testing {
    position:fixed;
    object-fit: fill;
    z-index: 1;
}
.testings {
    z-index: 100000;
    top: 0;
    position: relative;
}
.flex-container > div:hover {
    background: #8d91e0;
    color:#bffff1;
}
.nextPage h3 {
    margin-top: 0px;
    font-size: 1.3em;
}
button {
    max-width: 10%;
    max-height: auto;
    margin-left: 45%;
    margin-right:auto;
    outline:none;
    background: transparent;
    border-width: 0px;
     cursor: pointer;
}
.child {
    color: #bffff1;
    width:33%;
    cursor: pointer;
    justify-content: center;
    text-align: center;
}
